@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: black;
  color:white;
}
/* scrollbar style */
::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width:8px;
  height:5px;
}
::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color:transparent
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  border-radius:5px;
  background-color:rgb(86, 85, 85)
}